<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Upload Image</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="../../routes/index.js"></script>
  <link rel="stylesheet" href="../../style.css">
</head>

<body>
  <div id="container">
    <div class="image" onclick="$('#filePhoto').click()">
      <img src="camera.gif">
    </div>
    <div style="display:none">
      <input type="file" name="userprofile_picture"  id="filePhoto"  />
    </div>
  </div>

<!-- <label class="img-upload-label">
    Upload Image:
    <input type="file" class="js-fileinput img-upload" accept="image/jpeg,image/png,image/gif">
</label>
<button class="js-export img-export">Export</button>
<canvas class="js-editorcanvas"></canvas>
<canvas class="js-previewcanvas"></canvas> -->

  </div>
</body>
</html>

<!-- upload crop and reposition an image (jpeg, PNG, GIF) -->
